@model FizzBuzzMVC.Models.FizzBuzz;

<div class="container col-xxl-8 px-4 py-5 mt-5">
  <div class="row gy-2 h-100 row-cols-md-2 row-cols-1">
    <div class="col border-2 border-end">
      <h1 class="fw-bold lh-1 mb-3">FizzBuzz</h1>
      <h4 class="lead">
        Write a program that prints the numbers from 1 to 100. For the multiples of '3' display "Fizz" instead of the
        number. For the multiples of '5' display "Buzz". If the number is a multiple of both display "FizzBuzz".
      </h4>
      <h2 class="mt-5 border-2 border-bottom">Instructions</h2>
      <p>
        Enter two numbers. The first number will be used to evaluate Fizz. The second number will be used to evaluate
        Buzz.
        FizzBuzz will be determined based on the combination of the two numbers.
      </p>
    </div>
    <div class="col">
      <div>
        <h5>Enter numbers</h5>
        <form asp-controller="Home" asp-action="FBPage" method="POST">
          <div class="form-group">
            <label asp-for="FizzValue">Fizz Value</label>
            <input asp-for="FizzValue" class="form-control" value="@Model.FizzValue" />
          </div>
          <div class="form-group">
            <label asp-for="BuzzValue">Buzz Value</label>
            <input asp-for="BuzzValue" class="form-control" value="@Model.BuzzValue" />
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
        <h2 class="mt-5 border-bottom border-2">Results</h2>
        <div class="table-responsive">

        </div>
      </div>
    </div>
  </div>
</div>
